.input1{
    padding: 10px;
    border-radius: 5%;
    margin-left: 32px;
}
.input2{
    padding: 10px;
    border-radius: 5%;
    margin-top: 20px;
}
.input3{
    padding: 10px;
    border-radius: 5%;
    margin-top: 20px;
    margin-left: 24px;
}

.div1{
    margin-top: 6%;
    margin-left: 7%;
}
.div2{
    margin-left: 5%;
}