.input1{
  padding: 10px;
  border-radius: 5%;
  margin-left: 32px;
}
.input2{
  padding: 10px;
  border-radius: 5%;
  margin-top: 20px;
  margin-left: 45px;
}
.input3{
  padding: 10px;
  border-radius: 5%;
  margin-top: 20px;
  margin-left: 45px;
}
.input4{
  padding: 10px;
  border-radius: 5%;
  margin-top: 20px;
  margin-left: 45px;
}
.input5{
  padding: 10px;
  border-radius: 5%;
  margin-top: 20px;
  margin-left: 45px;
}
.input6{
  padding: 10px;
  border-radius: 5%;
  margin-top: 20px;
  margin-left: 45px;
}
.input7{
  padding: 10px;
  border-radius: 5%;
  margin-top: 20px;
  margin-left: 45px;
}
.input8{
  padding: 10px;
  border-radius: 5%;
  margin-top: 20px;
  margin-left: 15px;
}
.input9{
  padding: 10px;
  border-radius: 5%;
  margin-top: 20px;
  margin-left: 8px;
}